/* ALL */
body {
    margin: 0;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {

}


/* MAIN */
main {

}

#heading-container {

}

#score-container {
    display: flex;
    justify-content: center;
}


/* FOOTER */