/* ALL */
body {
    margin: 0;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;

}

.title {
    color: white;
}


/* MAIN */
main {
}

#heading-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#score-container {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
}

.action-btn {
    height: 200px;
    width: 200px;
    font-size: 70px;
    border: none;
    margin: 10px;
    border-radius: 15%;
    background-color: #E5E7EB;
}

#reset-button-container {
    display: flex;
    justify-content: center;
}


/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.copyright, .github {
    color:white;
}